# Copier ce fichier vers .env et renseigner les valeurs
# cp .env.example .env

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGE_ME_generate_with_php_bin_console_secret_generate
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Pour Docker : utiliser le nom du service "db"
# DATABASE_URL="mariadb://user:password@127.0.0.1:3306/academ_ile?serverVersion=11.4.5-MariaDB&charset=utf8mb4"
DATABASE_URL="mariadb://academ_ile:CHANGE_ME@db:3306/academ_ile?serverVersion=11.4.5-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> IA ###
MISTRAL_API_KEY=CHANGE_ME
###< IA ###
